@model Microsoft.AspNetCore.Http.IFormFile

@{
    ViewData["Title"] = "NovaAnalise";
}

<h1>Pesquisa Visual Computacional</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NovaAnalise" method="post" enctype="multipart/form-data">
            <div>
                <p>Busque sua imagem:</p>
                <p><input type="file" name="upload" accept="image/*" /></p>
                <p>Ou Informe a Url:</p>
                <p><input type="text" name="urlText" /></p>
                <p><input type="submit" value="Upload" class="btn btn-primary" /></p>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <div>
            <h5>Imagem Carregada</h5>
            <img style="width: 80%; height: 80%;" src="@ViewBag.imageFile" />            
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <h5>Análise da Imagem</h5>
            @Html.Raw("<pre style='white-space:pre-wrap;'>" + ViewBag.imageInfoStr + "</pre>")
        </div>
    </div>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
